@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body, html {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .nav-links, .nav-links a {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .nav-links, .nav-links a {
    width: 40%;
    font-size: 18px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.12);
  position: fixed;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:inherit;
  }
  
.logo img {
    height: 50px;
  }
  
.nav-links {
    display: flex;
    justify-content: space-between;
  }
  
.nav-links li {
    list-style: none;
  }
  
.nav-links a {
    color: #555;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
  }
  
.nav-links a:hover {
    color: #fd4;
  }

.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10%;
  }
  
.welcome-text {
    flex: 1;
    margin-right: 40px;
  }
  
.welcome-text h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
.welcome-text p {
    font-size: 18px;
    line-height: 1.5;
    color: #777;
  }
  
.profile-picture {
    flex: 1;
  }
  
.profile-picture img {
    width: 100%;
    padding-bottom: 6%;
    transform: scaleX(-1);
  }
  
  .bio-section {
    background-color: #f8f8f8;
    padding: 50px 0;
  }
  .bio-section .container {
  display: flex;
  align-items: center;
  }
.bio-section .container img{
width: 100%;
height: 100%;
}
  
  .bio {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .bio h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .bio p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify
  }
  
  .card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .card {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 100%;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h3 {
    margin-top: 0;
  }
  
  .card-content p {
    margin-bottom: 20px;
  }
  
  .card-content a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
  }
  
  #contact {
    background-color: #f2f2f2;
    padding: 50px;
  }
  
  #contact h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
  }
  
  #contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #contact label {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  #contact input, #contact textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  #contact textarea {
    height: 150px;
  }
  
  #contact button {
    background-color: #1abc9c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #contact button:hover {
    background-color: #148f77;
  }
  
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 -5px 10px rgba(0,0,0,0.12);
  padding: 30px 10%;
}

.footer-link{
  display: flex;
  padding: 0%;
}
.footer-link li{
  list-style: none;
}
.row-1{
  width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.fa{
  padding: 0px 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa p{
  display: none;
}

.fa-github{
  background: white;
  color: #3B5998;
}

.fa-twitter{
  background: white;
  color: #55acee;
}

.fa-instagram{
  background: white;
  color: #E1306C;
}

  
  
  